  
  html {
    scroll-behavior: smooth; 
  }

  body {
    margin: 0;
  }
   /* Main Style Start */
   
   main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
   }
   /* Main Style End */

   /* Header Style Start */
   header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDF2EC;
    
   }
   .header_wrapper {
    width: 100%;
    box-sizing: border-box;
    max-width: 1440px;
    padding: 42px 110px;
    display: flex;
    justify-content: space-between;
   }
   .logo {
    height: 21.04px;
    margin-top: 10px;
   }
   .navbar {
    display: flex;
    align-items: center;
   }
   .navbar_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
   }
   .navbar_item {
    font-family: 'Inika', serif;
    margin-left: 47px;
    white-space: nowrap;
    cursor: pointer;
   }

   #home_button {
    color: #E06733;
   }

   #home_button:hover {
    color: #000000;
    transition: all 0.3s ease-out;
   }
   .navbar_link {
    text-decoration: none;
    color: #010201;
    line-height: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
   }

   .navbar_link:hover {
    color: #E06733;
   }
   /* Header Style End */

   /* Welcome Style Start */
   .section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   #welcome {
    background-color: #EDF2EC;
   }

   .welcome_wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    padding: 0 109px;
   }

   .leafs_img {
    width: 460px;
   }

   .welcome_div {
    max-width: 549px;
    font-family: 'Inter', sans-serif;
    margin-top: 98px;
    margin-bottom: 94px;
   }
   h1 {
    font-size: 45px;
    font-weight: 700;
    font-style: bold;
    line-height: 50px;
    color: #717171;
    margin: 0;
   }
   .plants_highlight {
    color: #499A18;
   }

   .lorem_text {
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    margin-top: 43px;
    margin-bottom: 48px;
   }

   .welcome_button {
    width: 158px;
    height: 44px;
    border-radius: 10px;
    border: 2px solid #E06733;
    line-height: 20px;
    font-size: 16px;
    background-color: #EDF2EC;
    cursor: pointer;
    
   }

   .welcome_button:hover {
    background-color: #E06733;
    color: #FFFFFF;
   }
   /* Welcome Style End */

   /* About Style Start */
   #about {
    background-color: #FFFFFF;
   }

   .about_wrapper{ 
    width: 100%;
    max-width: 1440px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 109px;
   }

   .about_div {
    max-width: 605px;
    margin-top: 161px;
   }
   .h2_about {
    max-width: 463px;
    color: #499A18;
    font-family: 'Inika', serif;
    font-size: 40px;
    font-weight: normal;
    line-height: 52px;
    margin: 0;
   }
   .about_highlight {
    color: #E06733;
   }

   .lorem_about {
    max-width: 605px;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Inter', sans-serif;
    color: #636060;
    margin-top: 40px;
   }

   .monstera_img {
    width: 464px;
    height: 479px;
    margin-top: 93px;
    margin-bottom: 94px;
   }

   /* About Style End */

   /* Service Style Start */

   #service {
    background-color: #EDF2EC;
   }

   .service_wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    padding: 0 109px 67px 109px;
   }

   .service_content {
    display: flex;
    max-width: 1007px;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 80px;
   }

   .h2_service {
    max-width: 306px;
    color: #499A18;
    font-family: 'Inika', serif;
    font-size: 40px;
    font-weight: normal;
    line-height: 52px;
    margin: 0;
   }

   .service_btn {
    width: 161px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #E06733;
    font-size: 20px;
    line-height: 26px;
    font-family: 'Inika', serif;
    color: #E06733;
    margin-left: 34px;
    margin-top: 29px;
    background-color: #EDF2EC;
    cursor: pointer;
   }

   .service_btn:hover {
    background-color: #E06733;
    color: #FFFFFF;
   }

   .service_blocks {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   }

   .service_item {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;
   }

   .service_img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   }

   .woman_img {
    background-image: url("./assets/1x/first.png");
    width: 329px;
    height: 350px;
   }

   .lemon_img {
    background-image: url("./assets/1x/lemon.png");
    width: 329px;
    height: 350px;
   }

   .spray_img {
    background-image: url("./assets/1x/spray.png");
    width: 329px;
    height: 350px;
   }

   .busket_img {
    background-image: url("./assets/1x/busket.png");
    width: 329px;
    height: 350px; 
   }

   .sukkulent_img {
    background-image: url("./assets/1x/sukkulent.png");
    width: 329px;
    height: 350px; 
   }

   .hands_img {
    background-image: url("./assets/1x/hands.png");
    width: 329px;
    height: 350px; 
   }

   .service_text {
    width: 329px;
    border: 1px solid #E3E1D5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
   }

   .service_h3 {
    margin: 0;
    color: #E06733;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 8px;
   }

   .service_p {
    font-family: 'Inter', sans-serif;
    margin: 12px 0 35px 0;
    line-height: 20px;
    color: #717171;
   }

   /* Service Style End */

   /* Prices Style Start */

   .prices_wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 0 109px 111px;
   }

   .prices_col1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   }

   .prices_col2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   }

   .prices_h2 {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 40px;
   }

   .green_h2 {
    color: #499A18;
   }

   #gardeners_text {
    max-width: 452px;
    text-align: right;
   }
   .prices_btn {
    width: 161px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #E06733;
    font-size: 20px;
    line-height: 26px;
    font-family: 'Inika', serif;
    color: #E06733;
    background-color: #FFFFFF;
    cursor: pointer;
   }

   .prices_btn:hover {
    background-color: #E06733;
    color: #FFFFFF;
   }

   .leafs_img2 {
    max-width: 162px;
    margin-top: 35px;
   }

   details {
    background-color: #EDF2EC;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 32px;
   
    
   }
   summary {
    padding-left: 40px;
    list-style-type: none;
    padding-top: 13px; 
    display: flex;
    justify-content: space-between;
    cursor: pointer;
   }

   .summ_btn {
    padding-right: 40px;
   }

   .details_block {
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    padding: 17px 40px 1px 40px ;
    margin-top: 25px;
   }
 
   /* Prices Style End */

   /* Contacts Style Start */

   #contacts {
    background-color: #EDF2EC;
   }

   .contacts_wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 0 109px;
   }

   .contact_img {
    max-width: 400px;
    margin-top: 53px;
   }

   .contacts_h2 {
    color: #499A18;
    font-family: 'Inika', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-top: 60px;
    margin-left: 41px;
   }

   #city_select {
    max-width: 100%;
    width: 450px;
    height: 50px;
    background-color: #D6E7D2;
    border-style: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 148px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    padding-left: 20px;
    color: #717171;
    appearance: none;
    background-image: url("./assets/SVG/accordion_btn_1.svg");
    background-repeat: no-repeat, repeat;
    background-position: right 1.7em top 50%, 0 0;
    cursor: pointer;
   }

   .contact_img2 {
    display: none;
   }

   /* Contacts Style End */  


   /* Footer Style Start */
   footer{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;

   }

   .footer_wrapper {
   display: flex;
   justify-content: space-between;
   box-sizing: border-box;
   width: 100%;
   padding: 0 109px;
   max-width: 1440px;
   }

   .text_block {
    display: flex;
   }

   .footer_text {
    margin: 0;
    padding-right: 21px;
    color: #000000;
    text-decoration: none;
    margin-top: 54px;
   }

   .footer_text2 {
    margin: 0;
    padding-left: 10px;
    color: #000000;
    text-decoration: none;
    margin-top: 54px;
    padding-left: 58px;
   }

   .footer-link {
    color: #000000;
    text-decoration: none;
    
   }

   .footer_smm {
    margin: 0;
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
   }

   .contact_li {
    list-style-type: none;
    padding-left: 20px;
   }
   /* Footer Style End */

   /* Adaptive */

   /* Tablet version Start */

   @media (max-width: 768px) {
    .header_wrapper {
      max-width: 768px;
      padding: 35px 52px 35px 50px;
     }
    
     .welcome_wrapper {
      flex-direction: row-reverse;
      justify-content: space-between;
      box-sizing: border-box;
      width: 100%;
      max-width: 768px;
      padding: 38px 50px 70px 50px;
     }

     h1 {
      font-size: 35px;
      margin: 0;
     }

     .lorem_text {
      font-size: 16px;
      line-height: 25px;
      max-width: 341px;
      margin-top: 29px;
      margin-left: 3px;
      margin-bottom: 35px;
     }

     .leafs_img {
      width: 280px;
      height: 254px;
     }

     .welcome_div {
      margin: 0;
     }

     .about_wrapper{ 
      width: 100%;
      max-width: 768px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      align-items: center;
      padding: 40px 50px 70px 50px;
     }

     .about_div {
      max-width: 668px;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
     }

     .h2_about {
      max-width: 463px;
      font-size: 35px;
      line-height: 45.6px;
      text-align: center;
     }

     .lorem_about {
      
      max-width: 668px;
      width: 100%;
      margin-top: 50px;
     }
  
     .monstera_img {
      width: 250px;
      height: 258px;
      margin-top: 50px;
      margin-bottom: 28px;
     }

     .service_wrapper {
      max-width: 768px;
      padding: 55px 50px 30px 50px;
     }

     .service_content {
      display: block;
      width: 100%;
      padding-top: 0;
      padding-bottom: 40px;
     }

     .h2_service {
      font-size: 35px;
      font-weight: normal;
      line-height: 45.61px;
      margin: 0;
     }

     .service_btn {
      margin-left: 0;
      margin-right: 34px;
      margin-top: 44px;
     }

     .service_blocks {
      max-width: 768px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
     }

     .service_text {
      max-width: 280px;
     }

     .service_p {
      max-width: 201px;
      text-align: center;
      margin: 10px 0 16px 0;
     }

     .woman_img {
      background-image: url("./assets/1x/first1.png");
      width: 281px;
      height: 350px;
     }
  
     .lemon_img {
      background-image: url("./assets/1x/lemon1.png");
      width: 281px;
      height: 350px;
     }
  
     .spray_img {
      background-image: url("./assets/1x/spray1.png");
      width: 281px;
      height: 350px;
     }
  
     .busket_img {
      background-image: url("./assets/1x/busket1.png");
      width: 281px;
      height: 350px; 
     }
  
     .sukkulent_img {
      background-image: url("./assets/1x/sukkulent1.png");
      width: 281px;
      height: 350px; 
     }
  
     .hands_img {
      background-image: url("./assets/1x/hands1.png");
      width: 281px;
      height: 350px; 
     }

     .service_item {
      margin-bottom: 38px;
     }

     .prices_wrapper {
      max-width: 768px;
      padding: 43px 50px 79px 50px;
      flex-wrap: wrap;
     }

     .prices_h2 {
      font-size: 35px;
      line-height: 42.36px;
      margin-top: 0px;
      margin-left: 15px;
     }

     .prices_h3 {
      font-size: 25px;
      line-height: 35px;
      max-width: 296px;
      margin-top: 97px;
      margin-bottom: 30px;
     }

     .contacts_wrapper {
      max-width: 768px;
      flex-direction: column;
      align-items: center;
      padding: 40px 50px 0px 50px;
     }

     .contact_img {
      display: none;
     }

     .contact_img2 {
      display: block;
      background-image: url("./assets/1x/contact_woman2.png");
      width: 200px;
      height: 248.49px;
      margin-left: 20px;
     }

     .contacts_h2 {
      margin: 0;
     }

     #city_select {
      margin-top: 100px;
      margin-bottom: 250px;
     }

     .footer_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      padding: 0 50px;
      max-width: 768px;
      }

      .footer_text {
        margin-top: 30px;
       }

      .text_block {
        margin-left: 18px;
      }

      .footer_text2 {
        margin: 0;
        margin-top: 15px;
        padding-left: 0;
       }

      .footer_smm {
        margin-right: 58px;
        margin-top: 25px;
        margin-bottom: 50px;
      }


   }

   /* Tablet version End */

   /* Mobile version Start */

   @media (max-width: 380px) {

    .header_wrapper {
    max-width: 380px;
    padding: 35px 25px 35px 25px;
    }

    .logo {
      margin-top: 0;
     }
   
    .navbar {
    display: none;
   }

   .leafs_img {
    display: none;
   }

   .leafs_img2 {
    display: none;
   }

   .welcome_wrapper {
    max-width: 380px;
    padding: 25px;
   }

   h1 {
    font-size: 25px;
    line-height: 35px;
   }

   .lorem_text {
    font-size: 16px;
    line-height: 25px;
    max-width: 341px;
    margin-top: 22px;
    margin-left: 0;
    margin-bottom: 25px;
   }

   .welcome_button {
    width: 100px;
    height: 34px;
    border-radius: 10px;
    font-size: 10px;
   }

   .about_wrapper{ 
    max-width: 380px;
    padding: 30px 25px;
   }

   .h2_about {
    width: 288px;
    font-size: 25px;
    line-height: 32.5px;
   }

   .lorem_about {
    width: 330px;
    font-size: 15px;
    line-height: 25px;
    margin-top: 15px;
    margin-bottom: 0;
   }

   .monstera_img {
    width: 150px;
    height: 147px;
    margin-top: 5px;
    margin-bottom: 0px;
   }

   .service_wrapper {
    max-width: 380px;
    padding: 30px 25px 0 25px;
   }

   .service_content {
    display: block;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 0;
    padding-bottom: 30px;
   }

   .h2_service {
    font-size: 25px;
    max-width: 187px;
    line-height: 32.5px;
    margin-bottom: 38px;
   }

   .service_btn {
    width: 121px;
    height: 35px;
    margin-left: 0;
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15px;
   }

   .service_blocks {
    max-width: 380px;
    display: flex;
    flex-direction: column;
   }

   .service_item {
    margin-bottom: 33px;
   }

   .prices_wrapper {
    max-width: 380px;
    padding: 20px 25px 40px 25px;
    flex-direction: column;
   }

   .prices_h2 {
    font-size: 25px;
    line-height: 30.26px;
    margin: auto;
   }

   .prices_h3 {
    font-size: 20px;
    line-height: 35px;
    max-width: 230px;
    margin-top: 19px;
    margin-bottom: 20px;
   }

   #gardeners_text {
    text-align: center;
   }

   details {
    width: 180px;
    height: 49.7px;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 14px;
   }

   summary {
    padding-left: 31px;
    list-style-type: none;
    padding-top: 16px; 
    display: flex;
    justify-content: space-between;
   }

   .summ_btn {
    padding-right: 39px;
    padding-top: 2px;
   }

   .details_block {
    border-radius: 20px;
    padding: 29px 20px 14px 20px ;
    margin: auto;
    margin-top: 36px;
   }

   .prices_btn {
    width: 121px;
    height: 35px;
    font-size: 15px;
    line-height: 19.54px;
   }

   .prices_col1 {
    align-items: center;
   }

   .prices_col2 {
    align-items: center;
   }

   .contacts_h2 {
    font-size: 25px;
    line-height: 32.57px;
   }

   .contacts_wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: 380px;
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 0 20px;
   }

   .contact_img2 {
    width: 100px;
    height: 124.25px;
    background-image: url("./assets/1x/contact_woman3.png");
    margin: auto;
   }

   #city_select {
    width: 300px;
    height: 50px;
    margin-top: 81px;
    padding-left: 20px;
    color: #717171;
    background-position: right 1.1em top 50%, 0 0;
    margin-bottom: 132px;
   }

   .footer_wrapper {
    width: 100%;
    padding: 0 20px;
    max-width: 380px;
    }

    .footer_text {
    margin-top: 22px;
    }

    .footer_smm {
      margin-top: 15px;
    }
  }
   /* Mobile version End */
